	<div th:replace=head.html></div>
    <div class="content-wrapper">
    	 <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Rooms </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Room Name</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="room : ${rooms}">
					<td th:text="${room.getRoomName()}">Room Name</td>
					<td>
					<form th:object = "${deleteroom}" th:action="@{/admin/deleteroom}" method="post">
					 <input type="hidden" th:value="${room}"/>
					<button type ="submit">Delete</button>
					</form>
					</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
    	<div class="container-fluid">
    	<fieldset>
    		 <legend>Add Room</legend>
			<form method="post" th:object="${addroom}" th:action="@{/admin/managerooms}">
			  <div class="form-group">
			    <input type="text" class="form-control" id="addRoom" placeholder="Enter room name" th:field="*{roomName}" required>
			  </div>
			  <button type="submit" class="btn btn-primary" name="addRoomB">Add Room</button>
			</form>
		</fieldset>
		</div>
	</div>
	<div th:replace="foot.html"></div>