<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">	
	
	<div th:replace=head.html></div>
		<div class="card mb-3">
        <div class="card-header" th:text="${'Devices for ' + user.getName() + ' ' + user.getSurname()}">
          <i class="fa fa-table"></i>User Devices</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Device Name</th>
                   <th>Device Type</th>
                   <th>Room</th>
                   <th>Remove access</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="device : ${user.devices}">
					<td th:text="${device.getDeviceName()}">Device Name</td>
					<td th:text="${device.getDeviceType()}">Device Type</td>
					<td th:text="${device.getRoom()}">Device Room</td>
					<td><form th:object = "${deletedevice}" th:action="@{/admin/deleteuserdevice}" method="post">
					 <input type="hidden" th:value="${device.deviceID}" name="deleteDeviceId"/>
					 <input type="hidden" th:value="${user.userID}" name="userID">
					<button type ="submit" name="deleteDeviceB" class="btn btn-danger">Remove</button>
					</form></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        <div class="container-fluid">
    	<fieldset>
    		 <legend>Add Device</legend>
				<div class="form-group">
				<form method="post" th:action="@{/admin/adduserdevice}" th:object = "${adddevice}">
				<div class="form-group">
				<input type="hidden" th:value="${user.userID}" name="userID">
				<label for="devices">Select a deviceType: </label>
			    <select class="form-control" id="devices" name="deviceId">
			        <option th:each="device : ${devices}"
			                th:value="${device.deviceID}"
			                th:text="${device.deviceName + ' in room ' + device.Room}"
			                th:selected="${device}"/>
			    </select>
			    </div>
			    <button type="submit" class="btn btn-primary" name="addDeviceB">Add Device</button>
			    </form>
			</div>
		</fieldset>
		</div>
		
	<div th:replace="foot.html"></div>